table {
    width: 98%;
    margin-left: 1%;
}

.w-75{
    max-width: 75px;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
    background-color: var(--fuse-primary) !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--fuse-primary) !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: var(--fuse-primary) !important;
}
