<div class="absolute inset-0 flex flex-col h-full min-w-0 overflow-hidden bg-card dark:bg-transparent"> <!-- flex flex-col max-w-240 md:min-w-160 -m-6 widthcon -->
    <!-- Header -->
    <div class="flex">  <!-- justify-between items-center h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary -->
        <div class="flex-initial py-4 px-6 border-b"> <!--  flex-col sm:flex-row md:flex-col  -->
            <!-- Close button -->
            <button
                mat-icon-button
                (click)="closePanel($event)">
                <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <div class="flex-auto py-6 px-8 md:px-16 border-b">
            <div class="text-2xl font-extrabold tracking-tight leading-none">
                Details
            </div>
        </div>
    </div>
    <div class="flex flex-col">
        <!-- Message -->
        <mat-form-field class="pb-0 mb-0 pt-4 px-4">
            <mat-label>Message</mat-label>
            <textarea
                matInput
                id="default-message"
                (change)="messageChange($event.target.value)"></textarea>
            </mat-form-field>
            <mat-label class="text-warn pt-0 mt-0 pb-4 px-4">
                * Default message, you can change it.
            </mat-label>
    </div>
    <!-- Send Schedule -->
    <div class="flex-auto bg-card dark:bg-transparent">
        <div class="my-2 mx-4 font-bold tracking-tight leading-none">
            Send Schedule:
        </div>
        <div class="flex flex-col mb-4 mx-4 border">
            <div class="py-2 px-4">
                <!-- Select send type -->
                <mat-label>Send Type</mat-label>
                <mat-select
                    class="mr-4 p-4 border"
                    [(value)]="typeSelected"
                    (selectionChange)="sendTypeChange($event)">
                    <!-- <mat-option>Select send type</mat-option> -->
                    <mat-option
                        *ngFor="let st of sendTypes"
                        [value]="st.type">
                        {{st.value}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="my-2 px-4"
                *ngIf="isScheduler">
                <!-- select one or range date -->
                <div class="font-bold my-2">
                    <mat-radio-group
                        aria-label="Select an option">
                        <mat-radio-button
                            color="primary" value="Opcion 1" #op1 id="op1" checked
                            class="px-4"
                            (click)="onClickDate(op1)">Once:</mat-radio-button>
                        <mat-radio-button
                            color="primary" value="Opcion 2" #op2 id="op2"
                            class="pr-4"
                            (click)="onClickDate(op2)">Date Range:</mat-radio-button>
                    </mat-radio-group>
                </div>
                <!-- select date -->
                <div *ngIf="onceSchedule">
                    <mat-form-field appearance="fill">
                        <mat-label>Date Scheduler</mat-label>
                        <input matInput [min]="minDate"
                            (dateInput)="onDateChange('single', '', $event.value)" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div>
                        <mat-label>Time Scheduler</mat-label>
                        <div class="flex flex-row">
                            <div class="flex-col">
                                <div>Hours</div>
                                <div>
                                    <mat-form-field class="bracket-VER----------">
                                        <input matInput
                                            min="0" max="24"
                                            value="8"
                                            type="number"
                                            (change)="hoursChange($event.target.value, 'hour')">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="flex-col">
                                <div>Minutes</div>
                                <div>
                                    <mat-form-field class="bracket-VER----------">
                                        <input matInput
                                            min="0" max="50"
                                            value="30" step="10"
                                            type="number"
                                            (change)="hoursChange($event.target.value, 'mins')">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- select date range -->
                <div *ngIf="!onceSchedule">
                    <mat-form-field class="w-52 md:w-72"
                        appearance="fill">
                        <mat-label>Range Scheduler</mat-label>
                        <mat-date-range-input [rangePicker]="pickerRange"
                            [min]="minDate">
                            <input matStartDate
                                placeholder="Start date"
                                (dateInput)="onDateChange('range', 'min', $event.value)">
                            <input matEndDate
                                placeholder="End date"
                                (dateInput)="onDateChange('range', 'max', $event.value)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="pickerRange"></mat-datepicker-toggle>
                        <mat-date-range-picker #pickerRange></mat-date-range-picker>

                        <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">
                            Invalid start date</mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">
                            Invalid end date</mat-error> -->
                    </mat-form-field>
                    <div>
                        <mat-label>Time Scheduler</mat-label>
                        <div class="flex flex-row">
                            <div class="flex-col">
                                <div>Hours</div>
                                <div>
                                    <mat-form-field class="bracket-VER----------">
                                        <input matInput
                                            min="0" max="24"
                                            value="8"
                                            type="number"
                                            (change)="hoursChange($event.target.value, 'hour')">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="flex-col">
                                <div>Minutes</div>
                                <div>
                                    <mat-form-field class="bracket-VER----------">
                                        <input matInput
                                            min="0" max="50"
                                            value="30" step="10"
                                            type="number"
                                            (change)="hoursChange($event.target.value, 'mins')">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
