<div class="absolute inset-0 flex flex-col h-full min-w-0 overflow-hidden bg-card dark:bg-transparent"> <!-- flex flex-col max-w-240 md:min-w-160 -m-6 widthcon -->
    <!-- Header -->
    <div class="flex">  <!-- justify-between items-center h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary -->
        <div class="flex-initial py-4 px-6 border-b"> <!--  flex-col sm:flex-row md:flex-col  -->
            <!-- Close button -->
            <button
                mat-icon-button
                (click)="closePanel($event)">
                <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <div class="flex-auto py-6 px-8 md:px-16 border-b">
            <div class="text-2xl font-extrabold tracking-tight leading-none">
                Details
            </div>
        </div>
    </div>
    <mat-dialog-content class="flex flex-col">
        <!-- Message -->
        <mat-form-field class="pb-0 mb-0 pt-4 px-4">
            <mat-label>Message</mat-label>
            <textarea
                matInput
                id="default-message"
                (change)="messageChange($event.target.value)"></textarea>
            </mat-form-field>
            <mat-label class="text-warn pt-0 mt-0 pb-4 px-4">
                * Default message, you can change it.
            </mat-label>
    </mat-dialog-content>
    <!-- Send Schedule -->
    <div class="flex flex-col">
        <div class="mt-2 pb-2 px-6 md:px-12 border-b">
            <div class="font-bold tracking-tight leading-none">
                Send Schedule:
            </div>
        </div>
        <div class="py-2 px-4 w-full">
            <!-- Select send type -->
            <mat-form-field class="w-full">
                <mat-label>Send Type</mat-label>
                <mat-select
                    [(value)]="typeSelected"
                    (selectionChange)="sendTypeChange($event.value)">
                    <!-- <mat-option>Select send type</mat-option> -->
                    <mat-option
                        *ngFor="let st of sendTypes"
                        [value]="st.type">
                        {{st.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
