<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">
        <!-- Drawer -->
        <mat-drawer
            class="w-2/3 sm:w-72 lg:w-56 border-r-0 bg-default"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #drawer>
            <div class="p-6 lg:py-8 lg:pl-4 lg:pr-0">
                <!-- Filters -->
                <div class="space-y-2">
                    <!-- Notes -->
                    <div
                        class="relative flex items-center py-2 px-4 font-medium rounded-full cursor-pointer"
                        [ngClass]="{'bg-gray-200 dark:bg-gray-700 text-primary dark:text-primary-400': filterStatus === 'messages',
                                'text-hint hover:bg-hover': filterStatus !== 'messages'}"
                        (click)="refreshMessages()"
                        matRipple
                        [matRippleDisabled]="filterStatus === 'messages'">
                        <mat-icon
                            class="text-current"
                            [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                        <div class="ml-3 leading-5 select-none text-default">Messages</div>
                    </div>
                    <!-- Archive -->
                    <div
                        class="relative flex items-center py-2 px-4 font-medium rounded-full cursor-pointer"
                        [ngClass]="{'bg-gray-200 dark:bg-gray-700 text-primary dark:text-primary-400': filterStatus === 'archived',
                                'text-hint hover:bg-hover': filterStatus !== 'archived'}"
                        (click)="filterByArchived()"
                        matRipple
                        [matRippleDisabled]="filterStatus === 'archived'">
                        <mat-icon
                            class="text-current"
                            [svgIcon]="'heroicons_outline:archive'"></mat-icon>
                        <div class="ml-3 leading-5 select-none text-default">Archive</div>
                    </div>
                    <!-- Labels -->
                    <ng-container *ngIf="(labels$ | async) as grupos">
                        <ng-container *ngFor="let label of grupos; trackBy: trackByFn">
                            <div
                                class="relative flex items-center py-2 px-4 font-medium rounded-full cursor-pointer"
                                [ngClass]="{'bg-gray-200 dark:bg-gray-700 text-primary dark:text-primary-400': label.id === filterStatus,
                                    'text-hint hover:bg-hover': label.id !== filterStatus}"
                                (click)="filterByLabel(label.id)"
                                matRipple
                                [matRippleDisabled]="label.id === filterStatus">
                                <mat-icon
                                    [ngClass]="{'text-hint hover:bg-hover': label.id !== filterStatus, 'text-default dark:text-primary-400' : label.id === filterStatus}"
                                    [svgIcon]="'heroicons_outline:tag'"></mat-icon>
                                <div class="ml-3 leading-5 select-none text-default">{{label.name}}</div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <!-- Edit Labels -->
                    <div class="relative flex items-center py-2 px-4 font-medium rounded-full cursor-pointer hover:bg-hover"
                        (click)="openEditLabelsDialog()"
                        matRipple>
                        <mat-icon
                            class="text-hint"
                            [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                        <div class="ml-3 leading-5 select-none">Edit Groups</div>
                    </div>
                </div>
            </div>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">

            <!-- Main -->
            <div class="flex flex-col flex-auto p-6 md:p-8">

                <!-- Header -->
                <div class="flex items-center">
                    <div class="flex items-center flex-auto" *ngIf="(messages$ | async) as tMsgs">
                        <button
                            class="flex lg:hidden -ml-2"
                            mat-icon-button
                            (click)="drawer.toggle()">
                            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                        </button>
                        <mat-form-field class="fuse-mat-rounded fuse-mat-dense fuse-mat-no-subscript flex-auto ml-4 lg:ml-0">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:search'"
                                matPrefix></mat-icon>
                            <input
                                matInput
                                [autocomplete]="'off'"
                                [placeholder]="'Search messages'"
                                (input)="filterByQuery(searchInput.value)"
                                #searchInput>
                        </mat-form-field>
                    </div>
                    <!-- New MESSAGE -->
                    <button
                        class="ml-4 px-1 sm:px-4 min-w-10"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="addNewMessage()">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                        <span class="hidden sm:inline-block ml-2">New Message</span>
                    </button>
                    <!-- Refresh -->
                    <button
                        class="ml-4 px-1 sm:px-4 min-w-10"
                        mat-flat-button
                        [color]="'secondary'"
                        (click)="refreshMessages()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>

                <!-- - list -->
                <div class="flex flex-auto overflow-hidden" style="margin-top: 12px">
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <ng-container  *ngIf="(messages$ | async) as lMessages; else loading">
                            <ng-container *ngIf="lMessages.length > 0; else noMessages">
                                <div class="grid">
                                    <!-- Header -->
                                    <div
                                        class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                        matSort
                                        matSortDisableClear>
                                        <div
                                            class="hidden md:block "
                                            [mat-sort-header]="'name'">
                                            NAME
                                        </div>
                                        <div [mat-sort-header]="'message'" >Message</div>
                                        <div
                                            class="hidden md:block "
                                            [mat-sort-header]="'default'">
                                            Default
                                        </div>
                                        <div
                                            class="hidden sm:block"
                                            [mat-sort-header]="'status'">
                                            Active
                                        </div>
                                        <div
                                            class="hidden md:block"
                                            [mat-sort-header]="'updatedAt'">
                                            Since
                                        </div>
                                    </div>
                                    <!-- Rows -->
                                    <ng-container *ngIf="(messages$ | async) as lrows;">
                                        <ng-container *ngFor="let rMsg of lrows; trackBy: trackByFn">
                                            <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b"
                                                 (click)="openMessageDialog(rMsg)">
                                                <!-- name -->
                                                <div class="hidden md:flex truncate">
                                                    {{rMsg.name}}
                                                </div>
                                                <!-- message -->
                                                <div >
                                                    {{rMsg.message}}
                                                </div>
                                                <!-- Default -->
                                                <div class="hidden md:flex items-center">
                                                    <div class="min-w-4">{{rMsg.default}}</div>
                                                    <!-- DEFAULT -->
                                                    <div
                                                        class="flex items-end ml-2 w-1 h-4 bg-red-200 rounded overflow-hidden"
                                                        *ngIf="rMsg.default==='DEFAULT'">
                                                        <div class="flex w-full h-1/3 bg-red-600"></div>
                                                    </div>
                                                    <!-- NONE -->
                                                    <div
                                                        class="flex items-end ml-2 w-1 h-4 bg-orange-200 rounded overflow-hidden"
                                                        *ngIf="rMsg.default==='NONE'">
                                                        <div class="flex w-full h-2/4 bg-orange-400"></div>
                                                    </div>
                                                    <!-- null-->
                                                    <div
                                                        class="flex items-end ml-2 w-1 h-4 bg-green-100 rounded overflow-hidden"
                                                        *ngIf="!rMsg.default">
                                                        <div class="flex w-full h-full bg-green-400"></div>
                                                    </div>
                                                </div>
                                                <!-- Active -->
                                                <div class="hidden sm:block">
                                                    <ng-container *ngIf="rMsg.status==='ACTIVE'">
                                                        <mat-icon
                                                            class="text-green-400 icon-size-5"
                                                            [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                                    </ng-container>
                                                    <ng-container *ngIf="rMsg.status!=='ACTIVE'">
                                                        <mat-icon
                                                            class="text-gray-400 icon-size-5"
                                                            [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                    </ng-container>
                                                </div>
                                                <!-- message -->
                                                <div class="hidden md:block">
                                                    {{rMsg.updatedAt | date:'LLL dd'}}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>

                <!-- Loading template -->
                <ng-template #loading>
                    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Loading...</div>
                    </div>
                </ng-template>
                <ng-container *ngIf="isLoading" >
                    <mat-progress-bar mode="query" ></mat-progress-bar>
                </ng-container>
                <!-- No notes template -->
                <ng-template #noMessages>
                    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <mat-icon
                            class="icon-size-24"
                            [svgIcon]="'iconsmind:file_hide'"></mat-icon>
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">There are no messages!</div>
                    </div>
                </ng-template>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
<fuse-drawer
    class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999"
    fixed
    [mode]="'over'"
    [opened]="false"
    [name]="'msgDetails'"
    [position]="'right'">
    <messages-details-panel [currentMsg]="currentMsg" (closeOrCancelEvent)="toggleDrawerClose($event)"></messages-details-panel>
</fuse-drawer>

<fuse-drawer
    class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999"
    fixed
    [mode]="'over'"
    [opened]="false"
    [name]="'grpDetails'"
    [position]="'right'">
    <groups-message (closeOrCancelEvent)="toggleDrawerClose($event)"></groups-message>
</fuse-drawer>
