<div class="flex flex-col w-full" >

    <!-- <ng-template #detailPanel> -->
        <!-- View mode -->
        <ng-container *ngIf="!editMode">

            <!-- Header -->
            <div class="relative w-full h-16 sm:h-16 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
                <!-- Close button -->
                <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-3">
                    <button
                        mat-stroked-button
                        class="mr-2"
                        (click)="toggleEditMode(true)">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                        <span class="ml-2">Edit</span>
                    </button>
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        [matTooltip]="'Close'"
                        [routerLink]="['../']">
                        <mat-icon
                            class="text-white"
                            [svgIcon]="'heroicons_solid:x'"></mat-icon>
                    </button>
                </div>
            </div>

            <!-- Contact -->
            <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
                <div class="w-full max-w-3xl">

                    <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                        <!-- Title -->
                        <ng-container *ngIf="contact?.phone">
                            <div class="flex sm:items-center">
                                <mat-icon [svgIcon]="'heroicons_solid:device-mobile'"></mat-icon>
                                <div class="ml-6 leading-6">{{contact?.phone}}</div>
                            </div>
                        </ng-container>
                        <!-- Group -->
                        <ng-container *ngIf="contact?.Group">
                            <div class="flex sm:items-center">
                                <mat-icon [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                                <div class="ml-6 leading-6">{{contact.Group.name}}</div>
                            </div>
                        </ng-container>
                    </div>

                </div>
            </div>
        </ng-container>

        <!-- Edit mode -->
        <ng-container *ngIf="editMode">

            <!-- Header -->
            <div class="relative w-full h-16 sm:h-16 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
                <!-- Close button -->
                <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-3">
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        [matTooltip]="'Close'"
                        [routerLink]="['../']">
                        <mat-icon
                            class="text-white"
                            [svgIcon]="'heroicons_solid:x'"></mat-icon>
                    </button>
                </div>
            </div>

            <!-- Contact form -->
            <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
                <div class="w-full max-w-3xl">
                    <form [formGroup]="contactForm">
                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Phone</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:device-mobile'"></mat-icon>
                                <input
                                    matInput
                                    [readonly]="true"
                                    [formControlName]="'phone'"
                                    [placeholder]="'Phone'">
                            </mat-form-field>
                        </div>

                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Group</mat-label>
                                <mat-select formControlName="recipientGroupId" placeholder="Group" #singleSelect>
                                    <mat-option>
                                        <mat-select-search [formControl]="groupsFilterCtrl"></mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let option of filteredGroups | async" [value]="option.id">
                                        {{option.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-select formControlName="status" placeholder="Status" #singleSelect>
                                    <mat-option>
                                        <mat-select-search [formControl]="statusFilterCtrl"></mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let option of filteredStatus | async" [value]="option.value">
                                        {{option.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-label>Status</mat-label>
                            </mat-form-field>
                        </div>

                        <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                            <!-- Delete -->
                            <button
                                mat-button
                                [color]="'warn'"
                                [matTooltip]="'Delete'"
                                (click)="deleteContact()">
                                Delete
                            </button>
                            <!-- Cancel -->
                            <button
                                class="ml-auto"
                                mat-button
                                [matTooltip]="'Cancel'"
                                (click)="toggleEditMode(false)">
                                Cancel
                            </button>
                            <!-- Save -->
                            <button
                                class="ml-2"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="contactForm.invalid"
                                [matTooltip]="'Save'"
                                (click)="updateContact()">
                                Save
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </ng-container>
    <!-- </ng-template> -->
</div>
