<ng-container *ngIf="(currentMessage$ | async) as msg">
    <div class="flex flex-col flex-auto md:w-160 md:min-w-160 -m-6">
        <div class="m-6">
            <!-- Title -->
            <div>
                <input
                    class="w-full p-2 text-2xl"
                    [placeholder]="'Title'"
                    maxlength="120"
                    [(ngModel)]="msg.name"
                    (input)="onUpdateMessageDetails(msg)">
            </div>
            <!-- Message -->
            <div>
                <textarea
                    #message
                    class="w-full my-2.5 "
                    matInput
                    maxlength="160"
                    [placeholder]="'Message (160) Characters long'"
                    [(ngModel)]="msg.message"
                    (input)="onUpdateMessageDetails(msg)"></textarea>

            </div>
            <div class="flex items-center justify-end mt-4">
                <mat-hint align="end">Don't disclose personal info {{message.value.length}} / 160</mat-hint>
            </div>
            <div class="flex items-center justify-end mt-4">
                <button mat-button mat-dialog-close>Cancel</button>
                <button
                    mat-button
                    [color]="'primary'"
                    [disabled]="!saveOrCreate"
                    (click)="createMessage(msg)">
                    Create
                </button>
            </div>
        </div>
    </div>
</ng-container>


