<div class="flex flex-col flex-auto md:w-160 md:min-w-160 -m-6">
    <ng-container *ngIf="(note$ | async) as note">
        <div class="m-4">
            <!-- Title -->
            <div>
                <input
                    class="w-full p-2 text-2xl"
                    [placeholder]="'Title'"
                    [(ngModel)]="note.name"
                    (input)="updateNoteDetails(note)">
            </div>
            <!-- Note -->
            <div>
                <textarea
                    class="w-full my-2.5 p-2"
                    fuseAutogrow
                    [placeholder]="'Message (160) Characters long'"
                    [(ngModel)]="note.message"
                    (input)="updateNoteDetails(note)"></textarea>
            </div>
            <!-- Labels -->
            <ng-container *ngIf="getGroups(note.id) && getGroups(note.id).length">
                <div class="flex flex-wrap items-center mx-1 mt-6">
                    <ng-container *ngFor="let label of getGroups(note.id); trackBy: trackByFn">
                        <div class="flex items-center m-1 py-0.5 px-3 rounded-full text-sm font-medium text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                            <div>
                                {{label.namegroup}}
                            </div>
                            <mat-icon
                                class="ml-1 icon-size-4 cursor-pointer"
                                [svgIcon]="'heroicons_solid:x-circle'"
                                (click)="toggleGroupOnNote(label)"></mat-icon>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <!-- Add Actions -->
            <ng-container *ngIf="!note.id">
                <div class="flex items-center justify-end mt-4">
                    <!-- Save -->
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="!note.name && !note.message"
                        (click)="createNote(note)">
                        Save
                    </button>
                </div>
            </ng-container>
            <!-- Edit Actions -->
            <ng-container *ngIf="note.id">
                <div class="flex items-center justify-between mt-4">
                    <div class="flex items-center space-x-2">
                        <!-- Labels -->
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="labelsMenu">
                            <mat-icon [svgIcon]="'heroicons_outline:tag'"></mat-icon>
                        </button>
                        <mat-menu #labelsMenu="matMenu">
                            <ng-container *ngIf="(labels$ | async) as labels">
                                <ng-container *ngFor="let label of labels">
                                    <button
                                        mat-menu-item
                                        (click)="toggleLabelOnNote(note, label)">
                                        <span class="flex items-center">
                                            <mat-checkbox
                                                class="flex items-center pointer-events-none"
                                                [color]="'primary'"
                                                [checked]="isNoteHasLabel(note, label)"
                                                disableRipple></mat-checkbox>
                                            <span class="ml-1 leading-5">{{label.name}}</span>
                                        </span>
                                    </button>
                                </ng-container>
                            </ng-container>
                        </mat-menu>
                        <!-- Archive -->
                        <button
                            mat-icon-button
                            (click)="toggleArchiveOnNote(note)">
                            <mat-icon [svgIcon]="'heroicons_outline:archive'"></mat-icon>
                        </button>
                        <!-- Delete -->
                        <button
                            mat-icon-button
                            (click)="deleteNote(note)">
                            <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        </button>
                    </div>
                    <!-- Close -->
                    <button
                        mat-flat-button
                        matDialogClose>
                        Close
                    </button>
                </div>
            </ng-container>
        </div>
    </ng-container>

</div>
