<div class="flex flex-wrap items-center -m-1.5">
    <ng-container *ngFor="let label of labels; trackBy: trackByFn">
        <div class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
            <span class="text-md font-medium whitespace-nowrap">{{label.name}}</span>
        </div>
        <mat-icon
            *ngIf="enableDelete"
            class="ml-1 icon-size-4 cursor-pointer"
            [svgIcon]="'heroicons_solid:x-circle'"
            (click)="toggleMessageGroup(label)"></mat-icon>
    </ng-container>
</div>
