<div class="flex items-center"  *ngIf="!isAll">
    <!-- More menu -->
    <button
        mat-icon-button
        [matMenuTriggerFor]="moreMenu">
        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
        <button *ngIf="deviceEle.status==='INACTIVE'"
                mat-menu-item
                (click)="activateDevice([deviceEle],'ACTIVE')">
            <mat-icon [svgIcon]="'heroicons_outline:switch-horizontal'"></mat-icon>
            <span>OnLine</span>
        </button>
        <button *ngIf="deviceEle.status==='ACTIVE'"
                mat-menu-item
                (click)="activateDevice([deviceEle], 'INACTIVE')"
        >
            <mat-icon [svgIcon]="'heroicons_outline:switch-horizontal'"></mat-icon>
            <span>OffLine</span>
        </button>
        <button *ngIf="deviceEle.status==='ACTIVE'"
                mat-menu-item
                (click)="testSendMessage([deviceEle])"
        >
            <mat-icon [svgIcon]="'heroicons_outline:phone-outgoing'"></mat-icon>
            <span >Send Test Message</span>
        </button>
    </mat-menu>
</div>
<div class="flex items-center" *ngIf="isAll">
    <!-- More menu -->
    <button
        mat-icon-button
        [matMenuTriggerFor]="moreMenu">
        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
        <button
                mat-menu-item
                (click)="activateDevice(devicesAry,'ACTIVE')">
            <mat-icon [svgIcon]="'heroicons_outline:switch-horizontal'"></mat-icon>
            <span>OnLine</span>
        </button>
        <button
                mat-menu-item
                (click)="activateDevice(devicesAry,'INACTIVE')"
        >
            <mat-icon [svgIcon]="'heroicons_outline:switch-horizontal'"></mat-icon>
            <span>OffLine</span>
        </button>
        <button
                mat-menu-item
                (click)="testSendMessage(devicesAry)"
        >
            <mat-icon [svgIcon]="'heroicons_outline:phone-outgoing'"></mat-icon>
            <span >Send Test Message</span>
        </button>
    </mat-menu>
</div>
