<mat-form-field >
    <mat-select>
        <mat-option value="option1">
            <button mat-flat-button class="mat-primary fill" (click)="letActive()" [disabled]="active">Activate</button>
        </mat-option>
        <mat-option value="option2">
            <button mat-flat-button class="mat-primary fill" (click)="letInactive()" [disabled]="inactive">Inactivate</button>
        </mat-option>
        <mat-option value="option3">
            <button mat-flat-button class="mat-primary fill" (click)="sendMessage([9098081285])" [disabled]="sendb">Send</button>
        </mat-option>
    </mat-select>
</mat-form-field>
