
<div class="flex flex-col">
    <upload-file class="mt-4"
                 (_onSelect)="_onSelect($event)"
                 (_onReset)="_onReset()">
    </upload-file>

    <div class="flex justify-end">
        <button
            class="px-8 mr-2"
            mat-flat-button
            type="button"
            (click)="_onCancel()">
            Cancel
        </button>
        <button
            class="px-8"
            mat-flat-button
            [color]="'primary'"
            type="button"
            [disabled]="recList.length === 0"
            matStepperNext>
            Next
        </button>
    </div>
</div>
