mat-slide-toggle {
    margin: 8px 0;
    display: block;
}

table {
    width: 98%;
    margin-left: 1%;
}

.border {
    border-radius: 25px;
    border: 2px solid darkblue;
    padding: 20px;
    min-width: 30%;
    margin-bottom: 8px;
}
