<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer
            class="w-full md:w-160 dark:bg-gray-900"
            mode="side"
            [opened]="false"
            [position]="'end'"
            [disableClose]="false"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto">

                <!-- Header -->
                <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">

                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Recipients</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="recipientsCount > 0">
                                {{recipientsCount}}
                            </ng-container>
                            {{recipientsCount | i18nPlural: {
                            '=0'   : 'No recipients',
                            '=1'   : 'recipient',
                            'other': 'recipients'
                        } }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    matInput
                                    [formControl]="searchInputControl"
                                    [autocomplete]="'off'"
                                    [placeholder]="'Search recipient by phone'">
                            </mat-form-field>
                        </div>
                        <!-- Add contact button -->
                        <button
                            class="ml-4"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="uploadFile($event)">
                            <mat-icon [svgIcon]="'heroicons_outline:bookmark'"></mat-icon>
                            <span class="ml-2 mr-1">Import</span>
                        </button>
                        <!-- Add contact button -->
                        <button
                            class="ml-4"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="refresh($event)">
                            <mat-icon [svgIcon]="'heroicons_outline:refresh'"></mat-icon>
                            <span class="ml-2 mr-1">Refresh</span>
                        </button>
                    </div>
                </div>

                <!-- Contacts list -->
                <div class="relative">
                    <ng-container *ngIf="recipients$ | async as recipients">
                        <ng-container *ngIf="recipients.length; else noContacts">
                            <ng-container *ngFor="let contact of recipients; let i = index; trackBy: trackByFn">

                                <!-- Contact -->
                                <div class="flex flex-row mb-2">
                                    <a
                                        class="recipients z-20 px-6 py-4 md:px-8 cursor-pointer border-b"
                                        [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedContact || selectedContact.id !== contact.id,
                                                    'bg-primary-50 dark:bg-hover': selectedContact && selectedContact.id === contact.id} "
                                                    [routerLink]="['./', contact.id]"
                                        >
                                        <div class="min-w-0 ml-4">
                                            <div class="font-medium leading-5 truncate">{{contact.phone}}</div>
                                            <div class="leading-5 truncate text-secondary">{{contact?.Group?.name}}</div>
                                        </div>
                                    </a> <!-- (click)="activateDevice([deviceEle], 'INACTIVE')" -->
                                    <div class="control z-20 px-6 py-1 md:px-8 border-b">
                                        <app-recipcontrol [recipientEle]="contact"></app-recipcontrol>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>

                    </ng-container>

                    <!-- No contacts -->
                    <ng-template #noContacts>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no recipients!</div>
                    </ng-template>

                </div>

                <div class="dark:bg-transparent text-right mx-8 mt-2">
                    <ng-container *ngIf="nextPage$ | async as nextPage">
                        <button
                            [hidden]="nextPage===null"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="gotoNextPage(nextPage)">
                            <mat-icon [svgIcon]="'heroicons_outline:arrow-circle-right'" class="icon-size-8"></mat-icon>
                            <span class="ml-2 mr-1"></span>
                        </button>
                    </ng-container>
                </div>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>

</div>

