<div class="flex flex-col flex-auto w-100 min-w-100 p-2 md:p-4">
    <!-- Header -->
    <div class="flex items-center justify-between">
        <div class="text-2xl font-semibold">Edit Groups</div>
        <button
            (click)="closePanel($event)"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- New label -->
    <mat-form-field
        class="fuse-mat-dense w-full mt-8"
        [floatLabel]="'always'">
        <input
            name="new-label"
            [autocomplete]="'off'"
            [placeholder]="'Create new Group'"
            matInput
            #newLabelInput>
        <button
            [class.invisible]="newLabelInput.value.trim() === ''"
            mat-icon-button
            (click)="addGroup(newLabelInput.value); newLabelInput.value = ''"
            matSuffix>
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
        </button>
    </mat-form-field>
    <!-- Labels -->
    <div class="flex flex-col mt-4">
        <!-- - list -->
        <div class="flex flex-auto overflow-hidden" >
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                <ng-container  *ngIf="(labels$ | async) as labels; else loading">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="group-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>
                            <div class="hidden md:block "
                                [mat-sort-header]="'name'">
                                Group
                            </div>
                            <div class="hidden md:block">
                                Action
                            </div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(labels$ | async) as lrows;">
                            <ng-container *ngFor="let rGroup of lrows; trackBy: trackByFn">
                                <div class="group-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                    <!-- name -->
                                    <div class="truncate">
                                        {{rGroup.name}}
                                    </div>
                                    <button
                                        class="hidden md:flex truncate"
                                        mat-icon-button
                                        matPrefix
                                        (click)="deleteGroup(rGroup)">
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- Loading template -->
        <ng-template #loading>
            <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Loading...</div>
            </div>
        </ng-template>
    </div>
</div>
